body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  /* overflow-y: hidden; */
}

i {
  margin-right: 1ch;
}

.b-example-divider {
  flex-shrink: 0;
  width: 0;
  height: 100vh;
}

.nav-item:hover,
.nav-item:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.dropdown :hover,
.dropdown :focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
  border-radius: 20%;
}
header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.h3,
h3 {
  font-size: calc(1.275rem + 0.3vw) !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  border-bottom-color: #000;
}

table,
td {
  padding: 8px 8px 8px 20px;
}

tr:nth-child(even) {
  background-color: #eff2f5;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dddfeb !important;
}

hr:not([size]) {
  height: 1px;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
